@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OrdersRecap.Models.Masters

@{
    ViewData["Title"] = "Master Data";
}

<h2>Master Data List</h2>

<input type="text" id="searchBox" placeholder="Search..." class="form-control mb-3" />

<table class="table" id="masterTable">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Code
            </th>
            <th>
                Category
            </th>
            <th>
                Sub Category
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int rowNo = 0;
        }
        @foreach (var item in Model.masters)
        {
            @if (Model != null)
            {
                <tr>
                    <td>
                        @(rowNo += 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBox").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#masterTable tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}